GPATH
GRTAGS
GTAGS
*.o
*.ncb
*.suo
*.user
*.ilk
*.pdb
*.pri
*.exp
*.sdf
*.opensdf
SequenceLog.exe
SequenceLogd.exe
depend.inc
obj/
src/SequenceLogLib/src/libslog.so
src/SequenceLogService/src/slogsvc
src/SequenceLogService/libs/
src/SequenceLogService/Android/bin/
src/SequenceLogService/Android/gen/
src/SequenceLogService/Android/libs/
src/SequenceLogPrint/src/slogprint
src/SequenceLogPrint/libs/
src/SequenceLogId/bin/
src/SequenceLogLib/ModernUI/ModernUI.opensdf
src/SequenceLogLib/ModernUI/ModernUI.sdf
src/SequenceLogLib/ModernUI/Debug/
src/SequenceLogLib/ModernUI/Release/
src/SequenceLogLib/ModernUI/x64/
src/SequenceLogLib/ModernUI/ARM/
src/SequenceLogLib/slog/
bin/ModernUI/
Release/
html/
