#slogView
{
	clear: both;
	margin: 0px;
	border: 1px solid #000000;
	position: fixed;
	z-index: 99;
}

#slogViewHeader
{
	height: 20px;
	padding: 4px 10px;
	background-color: #408040;
	text-align: right;
	cursor: move;
}

#slogViewHeader img
{
	margin: 0px 2px;
	cursor: pointer;
}

#slogViewContent
{
	padding: 0px 10px;
	color: #FFFFFF;
	background-color: #000000;
	overflow: auto;
	font-family: 'メイリオ', meiryo;
	font-size: medium;
	text-align: left;
	opacity: 0.75;
}
